@media (min-width: 1024px) {
  .top-navbar {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

.brand-name,
.login {
  text-decoration: none !important;
}

.active {
  font-weight: 500;
  color: rgb(105, 33, 33);
}

header nav .user-profile {
  position: relative;
  right: 0px;
  top: 0px;
}

#show {
  display: block;
}

#hide {
  display: none;
}

header nav .user-profile .dropdown {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 200px;
  background-color: #ffffff;
  padding: 10px 7px;
}

header nav .user-profile .dropdown li {
  line-height: 30px;
}

header nav .user-profile .dropdown li a:hover {
  color: #d4b219;
}

@media (max-width: 1024px) {
  header nav .user-profile .dropdown {
    left: 0px;
  }
}
